body
{
    background-color: #F2FFFC;
    line-height: 1.5;
}
h1, h2, a {
    font-family: "Open Sans Condensed";
}
h1 {
    text-transform: uppercase;
}
h2 {
    font-size:30px;
    clear: both;
}
main {
    float: right;
    width: 85%;
}
main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}
main h1 {
    font-size:60px;
    background-color:#851944;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    border-bottom: 10px solid black;
}
main a {
    color: #851944;
}
.container {
    padding-bottom: 80px;
}
blockquote {
    background-color: #D9E5E3;
    padding: 15px;
    margin: 20px 40px;
    border: 5px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    text-align: center;
}
.fiat {
    float: right;
}
.petrobras{
    float: left;
}
p {
    text-align: justify;
    font-family: "Crimson Text";
    margin: 20px 0;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
aside {
    display: block;
    background-color: #3C1D3D;
    padding: 15px;
    text-align: center;
}
aside, .foto {
    float: left;
    width: 15%;
    box-sizing: border-box;
    border-top: 2,5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
}
aside a {
    color: inherit;
}
aside h1 {
    color: #F2FFFC;
    font-size: 30px;
    margin-bottom: 25px;
}
aside ul {
    margin: 10px;
}
ul {
    color: #F2FFFC;
}
.icones-sociais li {
    display: inline-block;
    height: 10px;
    margin: 5px;
}
.footer {
    background-color: black;
    color: #F2FFFC;
    padding: 10px;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}
.github {
    background-image: url(../img/github.png);
}
.linkedin {
    background-image: url(../img/linkedin.png);
}
.twitter {
    background-image: url(../img/twitter.png);
}